@import "~antd/dist/antd.css";
@import "~bootstrap/dist/css/bootstrap.css";
@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@100;400&display=swap");
@import "//netdna.bootstrapcdn.com/font-awesome/3.0/css/font-awesome.css";

body {
  margin: 0;
  font-family: "Kanit", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h5 {
  font-size: 1.2vw;
}

.fjNNCW {
  background-color: #f5f6f8 !important;
}

.w-100 {
  width: 100%;
}

.h-blue {
  color: #134b8a;
}

.btn-back {
  display: flex;
  justify-content: center;
  margin-top: 28px;
  height: 39px;
  width: 98px;
  background-color: #134b8a;
  border-radius: 20px;
}

.btn-text {
  color: #fff;
  font-size: 18px;
}

.show-info {
  background-color: #134b8a;
  height: 34px;
}

.text-info-btn {
  color: #ffffff;
  z-index: 1;
}

.text-img-btn {
  z-index: 1;
  color: #134b8a;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 34px;
  z-index: 2;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  transition: 0.5s;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
}

.slider:before {
  position: absolute;
  content: "";
  height: 100%;
  background-color: #134b8a;
  transition: 0.5s;
}

input:focus + .slider {
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
}

input:checked + .slider:before {
  transform: translateX(100%);
}

/* Rounded sliders */
.slider.round {
  width: 100%;
  border-radius: 30px;
}

.slider.round:before {
  width: 50%;
  border-radius: 30px;
}

/* shape */
.circle {
  height: 11px;
  width: 11px;
  background-color: #134b8a;
  border-radius: 50%;
  margin-top: 4px;
  margin-right: 5px;
}

.square-box {
  height: 40px;
  width: 40px;
  background: #0f1e56;
  border-radius: 10px;
  z-index: 1;
  transition: 0.33s;
}

.vl {
  margin-left: 14px;
  margin-right: 14px;
  margin-top: 8px;
  height: 25px;
  left: 988px;
  background-color: #134b8a;
  border: 1.5px solid #134b8a;
}

.hl {
  left: 0%;
  right: 0%;
  top: 6.59%;
  bottom: 93.41%;
  border: 1px solid #e5e5e5;
}
/* ******* */

.bold {
  font-weight: bold !important;
}

.img {
  width: 122px;
  height: 122px;
}

.img-detail {
  object-position: 0% 80%;
  object-fit: cover;
  width: 100% !important;
  height: 260px;
}

.nav-logo {
  display: none;
}

.nav-profile {
  display: none;
}

.nav-detail {
  margin-top: 10px;
}

.curved-left {
  border-radius: 10px 0px 0px 10px;
}

.curved-right {
  border-radius: 0px 10px 10px 0px;
}

.curved-up {
  border-radius: 10px 10px 0px 0px;
}

.curved-down {
  border-radius: 0px 0px 10px 10px;
}

.rounded {
  border-radius: 30px !important;
}

.curved {
  border-radius: 10px !important;
}

.point {
  display: flex;
}

.btn-next:hover .btn-prev:hover {
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.25);
}

.pagination-group {
  background-color: "red";
}

.place-profile-detail {
  object-fit: cover;
  width: 100% !important;
  height: 320px !important;
  object-position: 0% 40%;
  border-radius: 10px 10px 0px 0px;
}

.card-info{
  margin-left: 30px;
  margin-right: 15px;
}

.card-img{
  margin-right: 30px;
  margin-left: 15px;
}

@media only screen and (min-width: 2100px) {
  h5 {
    font-size: 0.7vw;
  }
}

@media only screen and (min-width: 768px) {
  .toggle-switch {
    display: none;
  }
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .sidebar {
    display: none;
  }
  .nav-detail {
    display: none !important;
  }

  .sc-gsnTZi .jZxliG .container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }

  .vl {
    display: none;
  }
  .under-nav {
    --bs-gutter-y: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: calc(-1 * var(--bs-gutter-y));
    margin-right: calc(-0.5 * var(--bs-gutter-x));
    margin-left: calc(-0.5 * var(--bs-gutter-x));
  }

  .select-type {
    width: 100% !important;
    margin-bottom: 11px;
  }

  .search {
    width: 100% !important;
  }

  .card {
    width: 100% !important;
    height: 357px !important;
  }

  .nav-logo {
    display: block;
    padding: 8px;
    border-radius: 20px;
  }
  .nav-profile {
    display: block;
    padding-top: 13px;
    padding-left: 10px;
    padding-bottom: 12px;
  }

  .image1 {
    margin: 0px 10px 0px 10px;
    border-radius: 10px 10px 10px 10px !important;
    width: 100%;
    height: 176px;
    object-fit: cover;
  }

  .image2 {
    display: none !important;
  }

  .image3 {
    display: none !important;
  }

  .circle-point {
    display: none;
  }

  .card-content {
    display: block !important;
    padding: 0px !important;
  }

  .place-detail {
    display: block !important;
  }

  .place-profile {
    object-fit: cover;
    width: 100% !important;
    height: 87px;
    border-radius: 10px 10px 0px 0px;
  }

  .operation-time {
    margin-top: 10px;
    display: block;
  }

  .operation-time > h5 {
    font-size: 18px;
  }

  .img {
    object-position: 0% 65%;
  }

  .card{
    margin-bottom: 10px;
  }

  .time > img {
    margin-top: -3px;
  }

  .time > h6 {
    font-size: 14px;
  }

  .point {
    border-radius: 30px;
    width: 67px;
    height: 31px;
    margin-top: -55px;
    margin-bottom: 40px;
    background-color: #134b8a;
    display: flex;
    justify-content: center;
  }

  .number-point {
    font-size: 18px;
    color: #fff;
    margin-top: 5px;
  }

  input:checked + .slider .text-info-btn {
    color: #134b8a;
  }
  input:checked + .slider .text-img-btn {
    color: #ffffff;
  }

  .img-detail{
    height: 215px !important;
    object-position: 0% 50%;
  }

  .text-img>h5{
    font-size: 20px;
    initial-letter: 0.15px;
  }

  .Ukrgj {
    width: 100% !important;
  }

  .iPjSAo {
    width: 100% !important;
  }

  .work-time {
    margin-top: 10px !important;
  }

  .work-address {
    margin-top: 10px !important;
  }

  .bg-card {
    width: 100% !important;
    justify-content: center;
    background: #f5f6f8 !important;
    box-shadow: none !important;
  }

  .under-nav{
    display: block !important;
  }

  .input-box{
    display: block !important;
  }
}
